* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #4c545d;
  line-height: 1.6;
  text-align: center;
}
.wrapper {
  max-width: 1440px;
  margin: auto;
}

/* header section starts */
header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  max-width: 80px;
  width: 100%;
  margin: 0 auto 25px;
}
header h1 {
  font-size: 35px;
  margin: 0 auto 10px;
}
header p {
  font-size: 16px;
  color: #9fabb2;
  margin: 0 auto 25px;
  max-width: 450px;
}
.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.btn {
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  color: white;
  font-weight: bold;
  transition: all 0.5 ease;
  border: none;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.green {
  background-color: rgb(38, 186, 164);
  border-color: rgb(38, 186, 164);
}
.blue {
  background-color: rgb(97, 115, 255);
  border-color: rgb(97, 115, 255);
}
/* header sections ends */

/* service section starts */
.service {
  padding: 5px;
}
.service-title {
  font-size: 26px;
}
.service-description {
  font-size: 16px;
  color: #9fabb2;
  max-width: 520px;
  margin: 0 auto 60px;
}
.service-content {
  display: flex;

  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.service-image {
  width: 50%;
  margin-left: -50px;
}
.service-image img {
  width: 100%;
  height: auto;
}
.service-features {
  width: 48%;
  text-align: left;
  padding-right: 50px;
  padding-left: 100px;
}
.feature {
  margin-bottom: 40px;
}
.feature-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.feature-description {
  font-size: 16px;
  color: #9fabb2;
}
@media (max-width: 768px) {
  .service {
    padding: 30px 20px 10px 20px;
  }
  .service-content {
    flex-direction: column;
    gap: 40px;
  }
  .service-title {
    font-size: 24px;
  }
  .service-description {
    font-size: 14px;
  }
  .service-image {
    width: 80%;
    margin-left: 0;
  }
  .service-features {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-title {
    font-size: 14px;
  }
  .feature-description {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .service-title {
    font-size: 18px;
  }
  .service-description {
    font-size: 12px;
  }
  .feature-title {
    font-size: 16px;
  }
  .feature-description {
    font-size: 12px;
  }
}
/* service section ends */

/* Access Section Start  */

.access {
  padding: 70px 20px;
}

.access-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.access-description {
  font-size: 16px;
  color: #9fabb2;
  max-width: 520px;
  margin: 0 auto 50px;
}

.access-image {
  max-width: 700px;
  margin: auto;
}

.access-image img {
  width: 100%;
}
@media (max-width: 768px) {
  .access {
    padding: 30px 20px;
  }
  .access-title {
    font-size: 24px;
  }
  .access-description {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .access-title {
    font-size: 20px;
  }
  .access-description {
    font-size: 12px;
  }
}
/* access section ends */

/* flows section starts */
.flows {
  padding: 0px 40px 100px 40px;
}

.flow-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.flows-description {
  font-size: 16px;
  color: #9fabb2;
  max-width: 520px;
  margin: 0 auto 50px;
}

.flows-row {
  display: flex;
  justify-content: center;
  max-width: 850px;
  margin: auto;
}

.items {
  width: 300px;
  padding: 20px;
}

.items img {
  width: 35px;
  margin-bottom: 20px;
}

.items h6 {
  font-size: 18px;
  margin-bottom: 15px;
}

.items p {
  font-size: 13px;
}

@media (max-width: 768px) {
  .flows-row {
    flex-direction: column;
    align-items: center;
  }
}
/* flows section ends */

/* brand section starts */
.brand {
  padding: 60px 0px;
  background-color: #fff;
}
.brand-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.brand-row img {
  max-width: 150px;
  height: auto;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
/* brand section ends */

/* footer section starts */
footer {
  background-color: rgba(159, 171, 178, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 30px 80px;
  gap: 30px;
}
.footer-logo {
  width: 50px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px 40px;
  justify-content: center;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  color: #9fabb2;
  font-size: 13px;
}
.footer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.footer-icons img {
  width: 20px;
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 30px;
  }
  .footer-links {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: 15px;
  }
  .footer-icons {
    justify-content: center;
  }
}
/* footer section ends */
